body{
    background-color: bisque;
}
 


#headXone{
    text-align: center;
}

#headXtwo{
    text-align: center;
}


.para i {
    color: #bb7a7a;
}


.para {
    font-size: 20px;
}

.image-with-text {
    display: flex;
    align-items: top right;
  }
 
.image-with-text img {
    margin-right: 10px; /* adjust as needed */
  }

#bold{
    font-size: 20px;
}

#htwo{
    text-align: center;
}

#hr{
    color: black;
    width: 500px;    
}

#aside{
    text-align: center;
}

.para u {
    background-color: rgba(0, 255, 255, 0.172);
}


.img-txt {
    display: flex;
    align-items: top left;
  }
 
.img-txt img {
    margin-left: 10px; /* adjust as needed */
  }

  #preone{
    font-size: 13px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: grey;
  }

.img-txt2 {
    display: flex;
    align-items: top right;
  }
 
.img-txt2 img {
    margin-right: 10px; /* adjust as needed */
  }

  .img-txt4 {
    display: flex;
    align-items: top right;
  }
 
.img-txt4 img {
    margin-right: 10px; /* adjust as needed */
  }


#pretwo{
  font-size: 13px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: grey;
}

#prethree{
  font-size: 13px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: grey;
}


.img-txt6 {
  display: flex;
  align-items: top right;
}

.img-txt6 img {
  margin-right: 10px; /* adjust as needed */
 
}

#foot{
  font-size: 20px;
  font-family: fantasy;
  color: coral;
}
